.title{
    a{
        text-decoration: none;
    }
}
h1{
    &.medium{
        font-size: 30px;
    }
}
.card-header{
    font-size: 22px;
}
.compiled-page{
    thead{
        td{
            font-size: 18px;
            font-weight: 400;
        }
    }
}